/* 
these should be variables

main gray/black:
#4a4e4d
light blue accent: 
#0e9aa7
dark bluer accent:

#3da4ab
yellow highlight:
#f6cd61
red/pink highlight:
#fe8a71
*/

* {
    font-family: 'Raleway', sans-serif;
    color: #4a4e4d;    
}

html,
body {
    height: 100%;
    width: 100%;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-container>.text {
    font-size: 3em;
}

.highlight {
    color: #0e9aa7;
    opacity: 0.85;
    transition: 0.2s;
}

.highlight:hover {
    opacity: 1;
}