/* 
these should be variables

main gray/black:
#4a4e4d
light blue accent: 
#0e9aa7
dark bluer accent:
#3da4ab
yellow highlight:
#f6cd61
red/pink highlight:
#fe8a71
*/

html,
body {
    font-family: "Raleway", sans-serif;
    color: #4a4e4d;
    height: 100%;
    width: 100%;
    transition: 0.2s;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-container {
    font-size: 3em;
}

.highlight {
    color: #3da4ab;
    opacity: 0.85;
    transition: 0.2s;
}

.highlight:hover {
    opacity: 1;
    color: #0e9aa7;
}

.fa {
    color: #3da4ab;
    text-align: center;
    text-decoration: none;
    opacity: 0.85;
    transition: 0.2s;
}

.fa:hover {
    color: #0e9aa7;
    opacity: 1;
    text-decoration: none;
}

#more-button {
    font-size: 1.5em;
    margin-top: 3em;
}

.icon-large {
    font-size: 8em;
    margin: 0.1em;
}

.subtitle {
    font-size: 1.5em;
}

/* media queries */
@media (max-width: 768px) {
    #more-button {
        margin-top: 2em;
    }

    .socials > .fa {
        padding-top: 0.3em;
        font-size: 2.5em;
    }

    .intro-container {
        font-size: 2em;
    }
}
